#calendar {
  z-index: 99;
  color: $forthColor;
  font-weight: bold;
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fefefe;
}

#calendar-table {
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
  max-width: 470px;
  min-width: 300px;
  position: absolute;
  padding: 2em;
  background-color: #fefefe;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.calendar-header-item {
  display: inline-block;
  font-size: 1.5em;

  &:hover .btn {
    color: $thirdColor;
  }

  .btn {
    color: lighten($thirdColor, 5);

    &:hover {
      color: darken($thirdColor, 20);
    }
  }
}

#calendar-close-btn {
  font-size: 1.3em;
}

.calendar-months {
  $color: lighten($thirdColor, 5);

  border: 1px solid transparent;
  color: $color;
  border-top-color: $color;
  border-bottom-color: $color;

  &:hover {
    color: $thirdColor;
    border-top-color: $thirdColor;
    border-bottom-color: $thirdColor;
  }

  li {
    &:hover {
      color: darken($thirdColor, 20);
      cursor: pointer;
    }

    &.month-has-posts {
      position: relative;
      &::after {
          content: "";
          position: absolute;
          top: -10%;
          left: -20%;
          display: block;
          width: 140%;
          height: 120%;
          @include circle-box;
          border: 1px solid $thirdColor;
          color: $thirdColor;
      }
    }
  }

  &__now {
    color: $thirdColor;
  }
}

.calendar-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;

  li {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    margin: .1em .3em;
  }
}

.calendar-day a {
  display: block;
  width: 100%;
  @include circle-box;
  border: 1px solid $thirdColor;
  color: $thirdColor;

  &:hover {
    background: $thirdColor;
    color: #fff;
    @include transition-prop(background);
  }
}

.calendar-day.outmonth {
  color: $forthColor;
}

.now {
  color: $thirdColor;
}
