@use "sass:list";

$firstColor: #FFF9F9;
$secondColor: #FDECEC;
$thirdColor: #FFC7C7;
$forthColor: #AAAAAA;

$layout-breakpoint-small: 650px;
$layout-breakpoint-medium: 1024px;

// Mobile first breakpoints
$mobile-small: 320px;
$mobile-medium: 375px;
$mobile-large: 414px;
$tablet: 768px;
$desktop: 1024px;
